<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ.Properties.Settings.ITSConnectionString" connectionString="Data Source=172.16.110.55;Initial Catalog=ITS;Persist Security Info=True;User ID=ITS_USER;Password=fast"
            providerName="System.Data.SqlClient" />
        <add name="LINQ.Properties.Settings.ITSDEVConnectionString" connectionString="Data Source=172.16.110.55;Initial Catalog=ITSDEV;Persist Security Info=True;User ID=ITS_USER;Password=fast;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="LINQ.Properties.Settings.ITSConnectionString1" connectionString="Data Source=172.16.110.55;Initial Catalog=ITS_DEV;Persist Security Info=True;User ID=ITS_USER;Password=fast"
            providerName="System.Data.SqlClient" />
        <add name="LINQ.Properties.Settings.ITSConnectionString2" connectionString="Data Source=172.16.110.55;Initial Catalog=ITS;Persist Security Info=True;User ID=ITS_USER;Password=fast;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQ.Properties.Settings.TTS_Plant_230ConnectionString"
            connectionString="Data Source=172.16.117.201;Initial Catalog=TTS_Plant_230;Persist Security Info=True;User ID=sa;Password=1sanovel;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
